.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);
    
}

.header-container {
    display: flex;
    align-items: center;

}

.header-container h1 {
    flex-grow: 1;
}

.app-nav {
    display: flex;
    gap: 15px;
}
.app-nav-dashboard:hover {
 color: brown;
}
.app-nav-home:hover {
 color: brown;
}
.app-nav-about:hover {
 color: brown;
}
.app-nav-todo:hover {
 color: brown;
}
.user-name:hover {
    color: rgb(241, 212, 241);
}
.user-name {
    color: rgba(134, 24, 24, 0.884);
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}
